[Unit]
Description=Camera streamer for OctoPrint
After=network-online.target OctoPrint.service
Wants=network-online.target

[Service]
Type=simple
User=octoprint
ExecStart=/home/octoprint/octoprint/webcam/service/ustreamer_daemon.sh

[Install]
WantedBy=multi-user.target
